/* Structure */
.example-container {
    width: 100%;
    position: relative;
    padding: 5px;
}

.image{
    width:100%;
    max-width:100px;
    margin: 5px;
}

.products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3px;
    flex-wrap: wrap;
    padding-top: 30px;
}

h3 {
    margin: 0px;
}

mat-card{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}

mat-card-content {
    text-align: center;
}

mat-card-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
    justify-content: space-between;
}

.mat-card>.mat-card-actions:last-child {
    margin-bottom: 0px;
    padding-bottom: 0;
}


.mat-card-actions {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0;
}

.material-icons:hover {
    color: darkmagenta;
    cursor: pointer;
}
