/* Structure */
.container {
    padding: 5px;
}

.example-container {
    width: 100%;
    position: relative;
    padding: 5px;
}

.image{
    width:100%;
    max-width:100px;
    margin: 5px;
}

.products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3px;
    flex-wrap: wrap;
        padding-top: 20px;
}

h3 {
    margin: 0px;
}

mat-card{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}

mat-card-content {
    text-align: center;
}

.button-row{
    position: fixed;
    width: 100%;
    background-color: cadetblue;
    text-align: right;
    z-index:10;
    padding-top: 2px;
    right: 0px;
    padding-right: 3px;
    height: fit-content;
}

.topBar{
    position: fixed;
    
    color: primary;
    justify-content: space-between;
    z-index:10;
    right: 15px;
    left: 25px;
}

span {
    padding-right: 1rem;
}

.logged {
    color: blue;
}

mat-card-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
    justify-content: space-between;
}

.mat-card>.mat-card-actions:last-child {
    margin-bottom: 0px;
    padding-bottom: 0;
}


.mat-card-actions {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0;
}

.material-icons:hover {
    color: darkmagenta;
    cursor: pointer;
}










.mdc-drawer {
  position: inherit;
}

.mdc-drawer-scrim {
  display: none;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.32);
  z-index: 7;
}

.mdc-drawer__header {
  display: none;
}

// Mobile
@media (max-width: 600px) {
  .mdc-drawer {
    z-index: 10;
    padding-top: 0;
    position: fixed;
  }

  .mdc-drawer-scrim {
    visibility: visible;
  }
  
  .mdc-drawer__header {
    display: block;
  }

}
